@keyframes flicker {
  0% {
    opacity: 0.02;
  }
  5% {
    opacity: 0.05;
  }
  10% {
    opacity: 0.02;
  }
  15% {
    opacity: 0.06;
  }
  100% {
    opacity: 0.02;
  }
}
.animate-flicker {
  animation: flicker 4s infinite;
}
.animate-fadeIn {
  animation: fadeIn 0.8s ease-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}